# Ignore DS_Store files
.DS_Store
work1/.DS_Store
work1/main.m~
work1/k_means.m~
work1/pca.m~

*.aux

presentation/tex/presentationPlot.log

presentation/tex/presentationPlot.maf

presentation/tex/presentationPlot.mtc

presentation/tex/presentationPlot.mtc0

presentation/tex/presentationPlot.pdf

presentation/tex/presentationPlot.synctex.gz

presentation/tex/presentationPlot.tex

work2/knnC.m

work2/knnC.m~

work2/knn.m~

work2/main.m~

*.m~
